services:
  audiobot:
    image: chat_bot:0.1
    ports:
      - "8080:8000"
    environment:
      - OLLAMA_MODEL=gpt-oss:20b
      - OLLAMA_API_URL=
      - OLLAMA_LOGIN=
      - OLLAMA_PASSWORD=
      - TELEGRAM_BOT_TOKEN=
      - TELEGRAM_WEBHOOK_SECRET_TOKEN=
      - LOG_DIR=/var/log/bot/bot.log
    volumes:
      - /var/log/docker/audio_bot:/var/log/bot
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"
    deploy:
      resources:
        limits:
          cpus: '8.0'
          memory: 20gb
          pids: 10
        reservations:
          cpus: '0.25'
          memory: 20M
